.feed {
  .post {
    background: #fff;
    border-bottom: 1px dashed #bbb;

    .post-user {
      display: flex;
      align-items: center;
      padding: 10px;

      font-weight: 700px;
      font-size: 18px;

      .profile-thumb {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #aaa;
        margin-right: 10px;
      }
    }

    .post-picture {
      .post-image {
        width: 100%;
      }
    }

    .post-desc {
      padding: 15px;

      p {
        color: #171717;
        font-size: 16px;
        margin: 0;
      }
      .timestamp {
        color: #aaa;
        font-size: 12px;
        margin-top: 15px;
      }
    }
  }
}
